@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One');

/*
##     ##    ###    ########   ######
##     ##   ## ##   ##     ## ##    ##
##     ##  ##   ##  ##     ## ##
##     ## ##     ## ########   ######
 ##   ##  ######### ##   ##         ##
  ## ##   ##     ## ##    ##  ##    ##
   ###    ##     ## ##     ##  ######
*/

:root {
  --p-hue: 0;
  --p: hsl(var(--p-hue), 100%, 50%);
  --p0: hsl(var(--p-hue), 100%, 50%);
  --p1: hsl(var(--p-hue), 100%, 40%);
  --p2: hsl(var(--p-hue), 100%, 30%);
  --p3: hsl(var(--p-hue), 100%, 20%);
  --p4: hsl(var(--p-hue), 100%, 10%);

  --invert: 1;
  --n: hsl(0, 0%, calc(50% + 50% * var(--invert)));
  --n0: hsl(0, 0%, calc(50% + 50% * var(--invert)));
  --n1: hsl(0, 0%, calc(50% + 45% * var(--invert)));
  --n2: hsl(0, 0%, calc(50% + 40% * var(--invert)));
  --n3: hsl(0, 0%, calc(50% + 35% * var(--invert)));
  --n4: hsl(0, 0%, calc(50% + 30% * var(--invert)));
  --n5: hsl(0, 0%, calc(50% + 25% * var(--invert)));
  --n6: hsl(0, 0%, calc(50% + 20% * var(--invert)));
  --n7: hsl(0, 0%, calc(50% + 15% * var(--invert)));
  --n8: hsl(0, 0%, calc(50% + 10% * var(--invert)));
  --n9: hsl(0, 0%, calc(50% + 5% * var(--invert)));
  --n10: hsl(0, 0%, calc(50% + 0% * var(--invert)));

  --nn: hsl(0, 0%, calc(50% - 50% * var(--invert)));
  --nn0: hsl(0, 0%, calc(50% - 50% * var(--invert)));
  --nn1: hsl(0, 0%, calc(50% - 45% * var(--invert)));
  --nn2: hsl(0, 0%, calc(50% - 40% * var(--invert)));
  --nn3: hsl(0, 0%, calc(50% - 35% * var(--invert)));
  --nn4: hsl(0, 0%, calc(50% - 30% * var(--invert)));
  --nn5: hsl(0, 0%, calc(50% - 25% * var(--invert)));
  --nn6: hsl(0, 0%, calc(50% - 20% * var(--invert)));
  --nn7: hsl(0, 0%, calc(50% - 15% * var(--invert)));
  --nn8: hsl(0, 0%, calc(50% - 10% * var(--invert)));
  --nn9: hsl(0, 0%, calc(50% - 5% * var(--invert)));
  --nn10: hsl(0, 0%, calc(50% - 0% * var(--invert)));

  --perspective-focus: 0px;
  --head-height: 64px + 3rem;
  --side-menu-space: 30vw;
  --depth: 50vw;

  --golden-ratio: 1.618;
}

/*
##     ##    ###    #### ##    ##
###   ###   ## ##    ##  ###   ##
#### ####  ##   ##   ##  ####  ##
## ### ## ##     ##  ##  ## ## ##
##     ## #########  ##  ##  ####
##     ## ##     ##  ##  ##   ###
##     ## ##     ## #### ##    ##
*/

body {
  background-color: var(--nn4);
  color: var(--n4);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ), url(/img/me-working.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
}

.sections section {
  padding: 16px;
}

.foot, .head {
  background-color: var(--nn2);
  font-family: 'Poiret One', cursive;
  padding: 32px 16px;
  box-sizing: border-box;
  width: 100%;
}

.head {
  font-size: 3rem;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition-property: font-size, background-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  text-shadow: 0 0 16px #000;

  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ), url(/img/me-working.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.scroll-top > .head {
  background-color: transparent;
}

.head .head-img {
  width: 1em;
  border-radius: .5em;
  margin: 0 .5em;
  margin-right: 1em;
}

.head .head-title {
  color: var(--n);
  font-weight: bold;
}

.head .path {
  color: var(--n4);
  display: inline-block;
}

.head .path:before {
  content: " / ";
}

.head .path:empty:before {
  content: "";
}

.foot {
  text-align: center;
  flex-basis: 256px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/*
 ######  ########  ######  ######## ####  #######  ##    ##  ######
##    ## ##       ##    ##    ##     ##  ##     ## ###   ## ##    ##
##       ##       ##          ##     ##  ##     ## ####  ## ##
 ######  ######   ##          ##     ##  ##     ## ## ## ##  ######
      ## ##       ##          ##     ##  ##     ## ##  ####       ##
##    ## ##       ##    ##    ##     ##  ##     ## ##   ### ##    ##
 ######  ########  ######     ##    ####  #######  ##    ##  ######
*/

.sections {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section {
  min-height: calc(100vh - var(--head-height));
  box-sizing: border-box;
}

.section.me {
  flex-basis: 12em;
  padding-top: 9em;
  position: relative;
  z-index: 200;
  clip: rect(0, auto, auto, 0);
}

.section.projects {
  background-color: var(--nn4);
  overflow: hidden;
  position: relative;
}

.section.projects:before {
  content: "Projects";
  position: fixed;
  top: calc(64px + 3rem);
  font-size: 3rem;
}

.section.find {
  background-color: var(--nn3);
}
