:root {
  --font-family: 'Poppins', sans-serif;
  --font-family-mono: 'Poppins', sans-serif;
  --font-family-special: 'Indie Flower', cursive;
  
  --glass-color: 255, 255, 255;
  --glass-color2: 0, 100, 255;
  --glass-color-alpha: 0.1;
  --glass-direction: 315deg;
  --glass-distance: 1;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: var(--font-family-mono);
}
