@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One');

:root {
  --p-hue: 0;
  --p: hsl(var(--p-hue), 100%, 50%);
  --p0: hsl(var(--p-hue), 100%, 50%);
  --p1: hsl(var(--p-hue), 100%, 40%);
  --p2: hsl(var(--p-hue), 100%, 30%);
  --p3: hsl(var(--p-hue), 100%, 20%);
  --p4: hsl(var(--p-hue), 100%, 10%);

  --invert: 1;
  --n: hsl(0, 0%, calc(50% + 50% * var(--invert)));
  --n0: hsl(0, 0%, calc(50% + 50% * var(--invert)));
  --n1: hsl(0, 0%, calc(50% + 40% * var(--invert)));
  --n2: hsl(0, 0%, calc(50% + 30% * var(--invert)));
  --n3: hsl(0, 0%, calc(50% + 20% * var(--invert)));
  --n4: hsl(0, 0%, calc(50% + 10% * var(--invert)));
  --n5: hsl(0, 0%, calc(50% + 0% * var(--invert)));

  --nn: hsl(0, 0%, calc(50% - 50% * var(--invert)));
  --nn0: hsl(0, 0%, calc(50% - 50% * var(--invert)));
  --nn1: hsl(0, 0%, calc(50% - 40% * var(--invert)));
  --nn2: hsl(0, 0%, calc(50% - 30% * var(--invert)));
  --nn3: hsl(0, 0%, calc(50% - 20% * var(--invert)));
  --nn4: hsl(0, 0%, calc(50% - 10% * var(--invert)));
  --nn5: hsl(0, 0%, calc(50% - 0% * var(--invert)));

  --perspective-focus: 0px;
  --head-height: 64px + 2rem;
  --side-menu-space: 30vw;
  --depth: 50vw;
}

body {
  background-color: var(--nn2);
  color: var(--n2);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sections section {
  padding: 16px;
}

.foot, .head {
  background-color: var(--nn2);
  font-family: 'Poiret One', cursive;
  padding: 32px 16px;
  box-sizing: border-box;
  z-index: 10;
}

.head {
  font-size: 3em;
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: font-size .2s ease-in-out;
}

.head .head-img {
  width: 1em;
  border-radius: .5em;
  margin: 0 .5em;
  margin-right: 1em;
}

.head .head-title {
  color: var(--n);
  font-weight: bold;
}

.head .path {
  color: var(--n4);
  display: inline-block;
}

.head .path:before {
  content: " / ";
}

.head .path:empty:before {
  content: "";
}

.foot {
  text-align: center;
  flex-basis: 256px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.sections {
  display: flex;
  flex-direction: column;
  /** /
  -webkit-perspective-origin: 0vw calc(var(--perspective-focus) + 50vh - var(--head-height));
          perspective-origin: 0vw calc(var(--perspective-focus) + 50vh - var(--head-height));
  position: relative;
  top: calc(- var(--head-height));
  margin-top: calc(- var(--head-height));
  margin-bottom: calc(- var(--head-height));
  -webkit-perspective: 300px;
          perspective: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /**/
}

/** /
.sections:before, .sections:after {
  content: "";
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 0);
          transform: rotateX(-90deg) translate3d(0, 0, 0);
  position: absolute;
  height: var(--depth);
  width: 100%;
  background-color: #222;
  display: inline-block;
  z-index: 2;
}

.sections:after {
  background-color: #444;
}
/**/

.section {
  padding: 16px;
  box-sizing: border-box;
  /** /
  -webkit-transform: rotateY(0) translate3d(0, 0, 0);
          transform: rotateY(0) translate3d(0, 0, 0);
  margin-left: auto;
  height: 100vh;
  width: calc(100vw - var(--side-menu-space));
  z-index: 6;
  position: relative;
  background-color: #333;
  /**/
}

/** /
.section:nth-of-type(even) {
  -webkit-transform: rotateY(0) translate3d(0, 0, -10px);
          transform: rotateY(0) translate3d(0, 0, -10px);
  width: calc(100vw - var(--side-menu-space) - 42px);
  z-index: 4;
  background-color: #282828;
}
 /**/

.section-wall {
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transform: rotateY(90deg) translate3d(0, 0, calc(var(--side-menu-space) - 6px - 42px));
          transform: rotateY(90deg) translate3d(0, 0, calc(var(--side-menu-space) - 6px - 42px));
  height: calc(100vh + 2rem);
  width: var(--depth);
  z-index: 6;
  position: absolute;
  background-color: #303030;
}

.section-wall:nth-child(even) {
  /** /
  -webkit-transform: rotateY(-90deg) translate3d(calc(-100% - 9px), 0, calc(-1 * var(--side-menu-space) + 7px));
          transform: rotateY(-90deg) translate3d(calc(-100% - 9px), 0, calc(-1 * var(--side-menu-space) + 7px));
  width: calc(var(--depth) - 11px);
  z-index: 4;
  /**/
  background-color: #252525;
}

/** /
.section-split {
  content: "";
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transform: rotateX(-90deg) rotateY(0) translate3d(0, 0, 0);
          transform: rotateX(-90deg) rotateY(0) translate3d(0, 0, 0);
  position: absolute;
  height: var(--depth);
  width: calc(100% - var(--side-menu-space) + 49px);
  margin-left: calc(var(--side-menu-space) - 49px);
  background-color: #232323;
  display: inline-block;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: .99;
}

.section-split:nth-child(even) {
  -webkit-transform: rotateX(90deg) rotateY(0) translate3d(0, -100%, 0);
          transform: rotateX(90deg) rotateY(0) translate3d(0, -100%, 0);
  background-color: #444;
}
/**/
